<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título da Página{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    {% block head %}
        <!-- Conteúdo head -->
    {% endblock %}
</head>
<body>
    <header>
        <h1>The 500 Greatest Albums of All Time </h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('get_playing_now') }}">Playing</a></li>
                <li><a href="{{ url_for('get_search_form') }}">Search</a></li>
            </ul>
        </nav>
    </header>

    <section class="vh-100" style="background-color: #eee;">
      <div class="container py-5 h-8">
        <div class="row d-flex justify-content-center align-items-center h-10">
          <div class="col col-lg-15 col-xl-15">
            <div class="card rounded-3">
              <div class="card-body p-4">
                  <main>
                    {% block content %}
                    <!-- Conteúdo da página vai aqui -->
                    {% endblock %}
                  </main>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
        <p>&copy; 2024 Meu Site</p>
    </footer>
</body>
</html>
